# Django .env example file voor website kokenenbraden
DJANGO_ENV=dev
DJANGO_SECRET_KEY=<secret-key>
DEBUG=True
ALLOWED_HOSTS=<host1>,<host2>
DJANGO_SETTINGS_MODULE=config.settings
LOGGING_CONFIG=config.logging_dev

# Email settings
SERVER_EMAIL=user@example.com

EMAIL_HOST=smtp..example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL="Site <user@example.com>"

EMAIL_HOST_USER=user@example.com
ADMINS_JSON=[["Beheerder","admin@example.com"],["Support","support@example.com"]]
EMAIL_USER_PASSWORD=<email_password>


# Database (MySQL)
DB_NAME=dbnaam
DB_USER=dbuser
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306

SITE_DOMAIN=https://kokenenbraden.example.com
