# Django .env example file voor website kokenenbraden
DJANGO_ENV=dev
DJANGO_SECRET_KEY=<secret-key>
DEBUG=True
ALLOWED_HOSTS=<host1>,<host2>
DJANGO_SETTINGS_MODULE=config.settings
LOGGING_MODULE=config.logging_dev
BASE_DIR=/opt/kokenenbraden

# Email settings
SERVER_EMAIL=user@example.com

EMAIL_HOST=smtp..example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL="Site <user@example.com>"

EMAIL_HOST_USER=user@example.com
ADMINS_JSON=[["Beheerder","admin@example.com"],["Support","support@example.com"]]
EMAIL_USER_PASSWORD=<email_password>

# Database (MySQL)
DB_NAME=dbnaam
DB_USER=dbuser
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306

# Backup directory voorbeelden 
# BACKUP_DIR=/opt/kokenenbraden/backups
BACKUP_DIR=/var/www/nextcloud/data/rob/files/Kokenenbraden
LOGFILE=/opt/kokenenbraden/logs/backup_db.log
 
#Post backup voorbeeld integratie voor nextcloud
POST_BACKUP_CMD="sudo -u www-data php /var/www/nextcloud/occ files:scan <user>"

SITE_DOMAIN=https://kokenenbraden.example.com
