/* ============================
   Recept detail en lijsten
   ============================ */

/* Recept titel */
   .recept-titel {
  border-radius: 0.5rem;              /* afgeronde hoeken */
  padding: 0.5rem 1rem;               /* ruimte binnen de omlijsting */
  display: block;              /* zodat de box strak om de tekst valt */
  background-color: #eae6e6;          /* lichte achtergrond (optioneel) */
  color: #000;              /* tekstkleur in lijn met de border */
  font-weight: 400;                   /* net wat steviger */
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);   /* klein beetje schaduw */
  margin: 0 auto;
  text-align: center;
}


/* Meta info */
.recept-meta {
  background-color: var(--primary-light);
  color: black;
  padding: 12px 16px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0rem;
  align-items: center;
  font-size: 0.95rem;
}
.recept-meta strong { 
  font-weight: 600;
  color: black;
}
.recept-meta i { margin-right: 0.2rem; }
.recept-meta .meta-waarde {  margin-right: -0.3rem; }      /* optionele kleine ruimte na de ':' */


/* Detail cards */
.recept-body {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.recept-body .ingredienten-card {
  flex: 0 0 30%;
  max-width: 30%;
}
.recept-body .bereiding-card {
  flex: 0 0 70%;
  max-width: 70%;
}

/* Cards */
.recept-card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.recept-card .card-header {
  font-weight: 600;
  background-color: #f8f9fa;
}

.ingredienten-lijst {
  padding-left: 18px; /* ruimte links */
  margin: 0;
}

.ingredienten-lijst li {
  margin-bottom: 4px;
  list-style-type: disc; /* standaard bolletje */
  font-size: 1.0rem;
  font-weight: 400;
}

/* Recept lijst */

.recept-lijst .list-group-item {
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.recept-lijst .list-group-item:hover { transform: translateY(-2px); }
.recept-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.recept-link:hover { color: var(--primary); }
.recept-lijst .thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.personen-kader {
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(256, 255, 255, 0.08);
  border-radius: 8px;
  padding: 4px 8px;
}

.meta-separator {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}

.ingredient-form input[type="checkbox"][name$="DELETE"] {
  display: none;
}

.ingredient-form td:last-child {
    text-align: center;
    width: 80px; /* breedte voor de knop */
}

